html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
  font-size: 100%;
  padding:0;
}

.container-expanded {
  @extend .container-fluid;
  padding-left: 0;
  padding-right: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-around;

  & > div {
    width:100%;
  }
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

a, a:active, a:focus, a:visited, a:hover {
  outline: none;
  text-decoration: none;
  color: inherit;
}

canvas {
  border: 0;
  outline: 0;
}